<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="theme-color" content="#0f172a" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/images/icon-192.png" />
    <.live_title default="Wondrop" suffix=" · Speed of Light">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/js/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      // Theme Initialization
      if (localStorage.getItem('theme') === 'light') {
          document.documentElement.classList.remove('dark');
      } else {
          document.documentElement.classList.add('dark');
      }
    </script>
  </head>
  <body class="bg-slate-50 dark:bg-slate-950 text-slate-950 dark:text-slate-100 transition-colors duration-300 min-h-screen font-sans relative selection:bg-sky-500 selection:text-white">
    {@inner_content}
  </body>
</html>
